@font-face {
    font-family: monserrat-semibold;
    src: url(../static/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: monserrat-regular;
    src: url(../static/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: monserrat-thin;
    src: url(../static/fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: monserrat-medium;
    src: url(../static/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: monserrat-bold;
    src: url(../static/fonts/Montserrat-Bold.ttf);
}

.row{
    padding: 25px;
    margin: 10px;
}

.cl{
    padding: 25px;
}

.box1{
    background: rgb(0,0,36);
    background: radial-gradient(circle, rgba(0,0,36,1) 0%, rgba(191,203,205,1) 0%, rgba(154,154,217,0.8673670151654411) 100%);
}

.box2{
    background: rgb(191,203,205);
    background: radial-gradient(circle, rgba(191,203,205,1) 0%, rgba(154,154,217,0.8673670151654411) 0%, rgba(77,139,95,0.8897759787508753) 0%);
}

.box3{
    background: rgb(191,203,205);
    background: radial-gradient(circle, rgba(191,203,205,1) 0%, rgba(154,154,217,0.8673670151654411) 0%, rgba(139,122,77,0.8897759787508753) 0%);
}

.boxlist{
    text-align: left;
}

.c {
    text-align: center;
    font-family: monserrat-medium;
}

.chart {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.mensaje {
    font-family: monserrat-semibold;
    color: red;
}

.main {
    padding: 30px;
    font-family: monserrat-regular;
}

.etapa3 {
    color: blue;
}

.txt2 {
    font-family: monserrat-semibold;
}

.txt1 {
    font-family: monserrat-medium;
    text-align: center;
}

.wow2 {
    padding: 5px;
    font-family: monserrat-medium;
    font-size: 22px;
}

.wow {
    padding: 15px;
    font-size: 22px;
}

.opo {
    color: #231e6c;
    text-align: right;
}

.creci {
    color: #00a6e8;
    text-align: left;
}

.txt {
    color: #00a6e8;
}

.bot {
    text-align: right;
}

.prog {
    text-align: right;
}

.logos {
    text-align: center;
}


@media screen and (max-width: 768px) {

    .main {
        text-align: center;
    }
    .wow {
        text-align: left;
        padding: 10px;
    }
    .opo {
        text-align: center;
    }
    
    .creci {
        text-align: center;
    }
}

@media print {
    .noprint {
        display: none;
     }
 }