@font-face {
    font-family: monserrat-semibold;
    src: url(../static/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: monserrat-regular;
    src: url(../static/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: monserrat-thin;
    src: url(../static/fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: monserrat-medium;
    src: url(../static/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: monserrat-bold;
    src: url(../static/fonts/Montserrat-Bold.ttf);
}

.printing {
    display: none;
}

.txtprint1 {
    color: blue;
    font-family: monserrat-semibold;
    font-size: 12px;
}

.txtprint2 {
    color: black;
    font-family: monserrat-regular;
    font-size: 12px;
}

.botones {
    margin: 5px;
}

.logo {
    width: 600px;
}

.mc {
    background-color: rgba(191, 211, 248, 0.726);
    border-style:ridge;
    margin-top: 5px;
    padding: 10px;
}

.mc0 {
    font-family: monserrat-regular;
    font-size: 12px;
}

.mc1 {
    font-family: monserrat-regular;
    font-size: 10px;
}

.row{
    padding: 4px;
    margin: 4px;
}

.box1{
    background: rgb(0,0,36);
    background: radial-gradient(circle, rgba(0,0,36,1) 0%, rgba(191,203,205,1) 0%, rgba(154,154,217,0.8673670151654411) 100%);
}

.box2{
    background: rgb(191,203,205);
    background: radial-gradient(circle, rgba(191,203,205,1) 0%, rgba(154,154,217,0.8673670151654411) 0%, rgba(77,139,95,0.8897759787508753) 0%);
}

.box3{
    background: rgb(191,203,205);
    background: radial-gradient(circle, rgba(191,203,205,1) 0%, rgba(154,154,217,0.8673670151654411) 0%, rgba(139,122,77,0.8897759787508753) 0%);
}

.boxlist{
    font-family: monserrat-regular;
    text-align: left;
    font-size: 16px;
}

.cl {
    padding: 5px;
}

.c {
    text-align: center;
    font-family: monserrat-medium;
}

.chart {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.mensaje {
    font-family: monserrat-semibold;
    color: red;
}

.mensajeG {
    font-family: monserrat-semibold;
    color: blue;
}

.alerta {
    font-family: monserrat-semibold;
    color: red;
}

.main {
    padding: 30px;
    font-family: monserrat-regular;
}

.etapa3 {
    color: blue;
}

.txt2 {
    font-family: monserrat-semibold;
    font-size: 12px;
}

.txt2title {
    font-family: monserrat-semibold;
    font-size: 14px;
}

.txt1 {
    font-family: monserrat-medium;
    text-align: center;
    font-size: 30px;
}

.fecha {
    text-align: center;
    font-family: monserrat-regular;
    font-size: 12px;
}

.txtName {
    font-family: monserrat-medium;
    font-size: 12px;
}

.wow2 {
    padding: 5px;
    font-family: monserrat-medium;
    font-size: 22px;
}

.wow {
    padding: 15px;
    font-size: 12px;
}

.opo {
    color: #231e6c;
    text-align: right;
}

.creci {
    color: #00a6e8;
    text-align: left;
}

.txt {
    color: #00a6e8;
}

.bot {
    text-align: right;
}

.prog {
    text-align: right;
}

.logos {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .logo {
        width: 200px;
    }
    .main {
        text-align: center;
    }
    .wow {
        text-align: left;
        padding: 10px;
    }
    .opo {
        text-align: center;
    }
    
    .creci {
        text-align: center;
    }
    .txt1 {
        font-size: 20px;
    }
    .txtName {
        font-size: 15px;
    }
    .boxlist{
        font-size: 15px;
    }
    .fecha {
        text-align: center;
    }
}

@page {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    size: a4 portrait;
}

@media print {
    @page {
        margin-top: 0in;
        margin-bottom: 0in;
        margin-left: 0in;
        margin-right: 0in;
        size: a4 portrait;
    }
    .noprint {
        display: none;
     }
     .mc {
        border-style:solid ;
    }
    body {
        /*page-break-inside: avoid;*/
        align-self: center;
        width: 100%; 
        margin-left: 0px;
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important;  /*Firefox*/
        /*position: relative;
        display: inline;*/
    }
    .txt1{
        font-size: 20px;
    }
    .txtName {
        font-size: 12px;
    }
    .fecha {
        font-size: 12px;
    }
    /*.pb {
        page-break-after: always;
    }*/
    .printing {
        display: contents;
    }
    /*.printing.row {
        margin-bottom: 5px;
    }*/

 }