<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../static/logoCedem.png">
    <link rel="stylesheet" href="../static/c.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>EVALUANDO DUEÑEZ COMPARTIDA</title>
  </head>
  <body>
    <div class="container-sm main">
      <div class="row align-items-end">
        <div class="col-6">
          <img src="../static/headermiyeef.jpeg" class="logo img-fluid" alt="">
        </div>
        <div class="col-6">
          <p class="fecha">Fecha:  {{ fecha }}</p>
        </div>
      </div>
    <div class="txtName row">
      <p class="txtName">Nombre: {{ nombre }}</p>
    </div>
    <div class="row txt2title text-center">
      <p>Evaluando el Ejercicio de la Dueñez Compartida</p>
    </div>
    <div class="noprint txt2">
      <p>{{ mensaje }}</p>
    </div>

    <div class="printing">
      <div class="row txt2">
        <p>1. Califica en cada uno de los siguientes rubros el grado de madurez de tu empresa (A=Alto, M=Medio, B=Bajo)</p> 
      </div>
      <div class="row align-items-center rowcolor1">
        <div class="txt2 col-8">
          <p>Liderazgo de Dueñez poderoso e incluyente</p>
        </div>
        <div class="txt2 col-4 text-center">
          <div class="form-check form-check-inline col">
            <input class="form-check-input" type="radio" name="r1" id="r1a" value="SI" {{ r1a }}>
            <label class="form-check-label" for="r1a">A</label>
          </div>
          <div class="form-check form-check-inline col">
            <input class="form-check-input" type="radio" name="r1" id="r1b" value="NO" {{ r1b }}>
            <label class="form-check-label" for="r1b">M</label>
          </div>
          <div class="form-check form-check-inline col">
            <input class="form-check-input" type="radio" name="r1" id="r1c" value="?" {{ r1c }}>
            <label class="form-check-label" for="r1c">B</label>
          </div>
        </div>
      </div>

      <div class="row align-items-center rowcolor2">
        <div class="txt2 col-8">
          <p>Coincidencia en la Querencia Empresarial / Sabemos negociar discrepancias</p>
        </div>
        <div class="txt2 col-4 text-center">
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r2" id="r2a" value="SI" {{ r2a }}>
              <label class="form-check-label" for="r2a">A</label>
            </div>
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r2" id="r2b" value="NO" {{ r2b }}>
              <label class="form-check-label" for="r2b">M</label>
            </div>
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r2" id="r2c" value="?" {{ r2c }}>
              <label class="form-check-label" for="r2c">B</label>
            </div>
        </div>
      </div>
      
      <div class="row align-items-center rowcolor1">
        <div class="txt2 col-8">
          <p>Estructuras de gobierno funcionales</p>
        </div>
        <div class="txt2 col-4 text-center">
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r3" id="r3a" value="SI" {{ r3a }}>
              <label class="form-check-label" for="r3a">A</label>
            </div>
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r3" id="r3b" value="NO" {{ r3b }}>
              <label class="form-check-label" for="r3b">M</label>
            </div>
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r3" id="r3c" value="?" {{ r3c }}>
              <label class="form-check-label" for="r3c">B</label>
            </div>
        </div>
      </div>

      <div class="row align-items-center rowcolor2">
        <div class="txt2 col-8">
          <p>Estructura de organización efectiva y comprometida</p>
        </div>
        <div class="txt2 col-4 text-center">
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r4" id="r4a" value="SI" {{ r4a }}>
              <label class="form-check-label" for="r4a">A</label>
            </div>
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r4" id="r4b" value="NO" {{ r4b }}>
              <label class="form-check-label" for="r4b">M</label>
            </div>
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r4" id="r4c" value="?" {{ r4c }}>
              <label class="form-check-label" for="r4c">B</label>
            </div>
        </div>
      </div>

      <div class="row align-items-center rowcolor1">
        <div class="txt2 col-8">
          <p>Equipo bien integrado de talentos complementarios</p>
        </div>
        <div class="txt2 col-4 text-center">
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r5" id="r5a" value="SI" {{ r5a }}>
              <label class="form-check-label" for="r5a">A</label>
            </div>
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r5" id="r5b" value="NO" {{ r5b }}>
              <label class="form-check-label" for="r5b">M</label>
            </div>
            <div class="form-check form-check-inline col">
              <input class="form-check-input" type="radio" name="r5" id="r5c" value="?" {{ r5c }}>
              <label class="form-check-label" for="r5c">B</label>
            </div>
        </div>
      </div>
      <br>
      <div class="row txt2">
        <p class="txtprint1">2. ¿Cuál es el área prioritaria de mejora para avanzar en la Dueñez Compartida?</p>
        <p class="txtprint2">{{ r11 }}</p>
      </div>

      <div class="row txt2">
        <p class="txtprint1">3. ¿Qué propones hacer con esa área de oportunidad?</p>
        <p class="txtprint2">{{ r12 }}</p>
      </div>

    </div>

    <div class="container-sm txt2">
      <form id="form1" action="/evaluandoduenezcompartida" method="POST" class="noprint">
        <div class="mb-3">

          <div class="row wow2">
            <p>1. Califica en cada uno de los siguientes rubros el grado de madurez de tu empresa (A=Alto, M=Medio, B=Bajo)</p>  
          </div>

          <div class="row align-items-center rowcolor1">
            <div class="wow2 col-lg-8 col-12">
              <p>Liderazgo de Dueñez poderoso e incluyente</p>
            </div>
            <div class="wow2 col-lg-4 col-12 text-center">
              <div class="form-check form-check-inline col c">
                <input class="form-check-input" type="radio" name="r1" id="r1a" value="SI" {{ r1a }}>
                <label class="form-check-label" for="r1a">A</label>
              </div>
              <div class="form-check form-check-inline col c">
                <input class="form-check-input" type="radio" name="r1" id="r1b" value="NO" {{ r1b }}>
                <label class="form-check-label" for="r1b">M</label>
              </div>
              <div class="form-check form-check-inline col c">
                <input class="form-check-input" type="radio" name="r1" id="r1c" value="?" {{ r1c }}>
                <label class="form-check-label" for="r1c">B</label>
              </div>
            </div>
          </div>

          <div class="row align-items-center rowcolor2">
            <div class="wow2 col-lg-8 col-12">
              <p>Coincidencia en la Querencia Empresarial / Sabemos negociar discrepancias</p>
            </div>
            <div class="wow2 col-lg-4 col-12 text-center">
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r2" id="r2a" value="SI" {{ r2a }}>
                  <label class="form-check-label" for="r2a">A</label>
                </div>
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r2" id="r2b" value="NO" {{ r2b }}>
                  <label class="form-check-label" for="r2b">M</label>
                </div>
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r2" id="r2c" value="?" {{ r2c }}>
                  <label class="form-check-label" for="r2c">B</label>
                </div>
            </div>
          </div>
          
          <div class="row align-items-center rowcolor1">
            <div class="wow2 col-lg-8 col-12">
              <p>Estructuras de gobierno funcionales</p>
            </div>
            <div class="wow2 col-lg-4 col-12 text-center">
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r3" id="r3a" value="SI" {{ r3a }}>
                  <label class="form-check-label" for="r3a">A</label>
                </div>
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r3" id="r3b" value="NO" {{ r3b }}>
                  <label class="form-check-label" for="r3b">M</label>
                </div>
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r3" id="r3c" value="?" {{ r3c }}>
                  <label class="form-check-label" for="r3c">B</label>
                </div>
            </div>
          </div>

          <div class="row align-items-center rowcolor2">
            <div class="wow2 col-lg-8 col-12">
              <p>Estructura de organización efectiva y comprometida</p>
            </div>
            <div class="wow2 col-lg-4 col-12 text-center">
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r4" id="r4a" value="SI" {{ r4a }}>
                  <label class="form-check-label" for="r4a">A</label>
                </div>
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r4" id="r4b" value="NO" {{ r4b }}>
                  <label class="form-check-label" for="r4b">M</label>
                </div>
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r4" id="r4c" value="?" {{ r4c }}>
                  <label class="form-check-label" for="r4c">B</label>
                </div>
            </div>
          </div>

          <div class="row align-items-center rowcolor1">
            <div class="wow2 col-lg-8 col-12">
              <p>Equipo bien integrado de talentos complementarios</p>
            </div>
            <div class="wow2 col-lg-4 col-12 text-center">
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r5" id="r5a" value="SI" {{ r5a }}>
                  <label class="form-check-label" for="r5a">A</label>
                </div>
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r5" id="r5b" value="NO" {{ r5b }}>
                  <label class="form-check-label" for="r5b">M</label>
                </div>
                <div class="form-check form-check-inline col c">
                  <input class="form-check-input" type="radio" name="r5" id="r5c" value="?" {{ r5c }}>
                  <label class="form-check-label" for="r5c">B</label>
                </div>
            </div>
          </div>
          
          <div class="row wow2">
            <label class="form-label" for="r11">2. ¿Cuál es el área prioritaria de mejora para avanzar en la Dueñez Compartida?</label>
            <textarea class="form-control" id="r11" rows="6" name="r11">{{ r11 }}</textarea>
          </div>

          <div class="row wow2">
            <label class="form-label" for="r12">3. ¿Qué propones hacer con esa área de oportunidad?</label>
            <textarea class="form-control" id="r12" rows="6" name="r12">{{ r12 }}</textarea>
          </div>

          <div class="noprint">
            <div class="row text-center">
              <div class="col-12">
                <button type="submit" class="botones btn btn-info">Guardar</button>
                <button type="button" class="botones btn btn-info" onclick="print()">Imprimir</button>
              </div>
              <div class="col-12">
                <button type="button" class="botones btn btn-primary" onclick="window.location.href='/home'">Home</button>
              </div>
            </div>
          </div>

      </form>
      </div>
    </div>
    
    

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>